{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css') }}" />
    {% stylesheets "@ContactsDirectoryBundle/Resources/public/css/*.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title 'Adresář kontaktů' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message alert alert-danger">
            <em>Chyba</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <ul id="menu" class="nav navbar-nav">
                    {% block content_header_more %}
                        <li><a href="{{ path('_app_contacts_directory_list') }}">Seznam</a></li>
                    {% endblock %}
                </ul>
            </div>
        </nav>
    {% endblock %}

    <div class="block" ng-app="contactsDirectory">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
